.type-2x2 {
  width: 45%;
  padding-bottom: 45%; /* = width for a 1:1 aspect ratio */

}

.type-3x3 {
  width: 30%;
  padding-bottom: 30%;
}

.type-4x4 {
  width: 23%;
  padding-bottom: 22%;
}

#empty {
  //background-color: grey;
}

.block {
  z-index: 2;
}

.block-value {
  font-size: 3rem;
  text-align: center;
  width: 1rem;
  margin-left: 5rem;
  margin-top: 2rem;
}

