.type-2x2 {
  width: 45%;
  padding-bottom: 45%; /* = width for a 1:1 aspect ratio */

}

// 3x4
// 4x5
// 5x4
// 5x3
// 5x3

.type-2x3,.type-3x3 {
  width: 30%;
  padding-bottom: 30%;
}

.type-3x2 {
  width: 33%;
  padding-bottom: 30%;
}


.type-4x3 {
  width: 24%;
  padding-bottom: 24%;
}

.type-4x4 {
  width: 22%;
  padding-bottom: 22%;
}

.type-5x5 {
  width: 17%;
  padding-bottom: 17%;
}

#empty {
  //background-color: grey;
}

.block {
  z-index: 2;
  max-height: 100%;
  max-width: 100%;
}

.block-value {
  font-size: 3rem;
  text-align: center;
  width: 1rem;
  margin-left: 5rem;
  margin-top: 2rem;
}

