.game-puzzle {
  //background-color: blue;
  border: black 1px solid;
  width: 63%;
  height: 720px;
  margin: 20px 0px 20px 20px;
  float: left;

  #block-1 {
    //background-color: blue;
  }

  #block-2 {
    //background-color: red;
  }

  #block-3 {
    //background-color: green;
  }

  #block-4 {
    //background-color: yellow;
  }
}
