.game-puzzle {
  //background-color: blue;
  border: black 2px solid;
  border-radius: 11px;
  width: 63%;
  height: 28rem;
  margin: 20px 0px 20px 20px;
  float: left;

  #block-1 {
    //background-color: blue;
  }

  #block-2 {
    //background-color: red;
  }

  #block-3 {
    //background-color: green;
  }

  #block-4 {
    //background-color: yellow;
  }
}

.game-puzzle.type-3x3 {
  height: 28.7rem;
}

.game-puzzle.type-4x4 {
  height: 34.6rem;
}

.game-puzzle.type-5x5 {
  height: 38rem;
}